<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta >
    <title>Title</title>
    <link type="text/css" href="bootstrap.min.css" rel="stylesheet">
</head>

<body style="overflow: hidden">

<div style="padding-left: 5%; padding-right: 5%">

    <div id="headerDiv" class="page-header">
        <h2>Expense manager</h2>
    </div>

    <div class="row">
        <div id="asideMenu" class="col-xs-4">
            <div id="formDiv" ng-controller="asideMenuCtrl" style="padding-right: 10%">
                <form>
                    <div ng-init="radio='expense'">
                        <span>Income: </span><input type="radio" name="minusOrPlus" ng-model="radio" value="income" />
                        <span>Expense: </span><input type="radio" name="minusOrPlus" ng-model="radio" value="expense" />
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="money" placeholder="Amount (in HUF)">
                        <span class="input-group-addon">Ft</span><br />
                    </div>

                    <div class="input-group">
                        <input type="date" class="form-control" ng-model="date"> <br />
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Description" ng-model="desc"> <br />
                    </div>

                    <div class="btn-group" role="group" aria-label="...">
                        <input type="button" class="btn btn-default" value="Add" ng-click="addDataToTable()">
                    </div>

                    <br/>

                    <label style="padding-top: 5%">Balance: </label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="balance">
                        <span class="input-group-addon">Ft</span><br />
                    </div>

                    <div class="btn-group" role="group" aria-label="..." style="padding-top: 5%">
                        <input type="button" class="btn btn-default" value="Reset Table" ng-click="resetDataArray()">
                    </div>

                </form>
            </div>
        </div>

        <div id="tableDiv" ng-controller="tableController" class="panel panel-default col-xs-8" style="overflow-y: scroll; height: 85vh">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Funds
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in dataArray">
                        <td>{{data.money}} Ft</td>
                        <td>{{data.date | date : short}}</td>
                        <td>{{data.desc}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="lib/angular.min.js"></script>
<script src="js/myApp.js"></script>
</body>
</html>